# Laravel cache y entorno
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
/storage/*.key

# Node y frontend
/node_modules/
/public/build/
/public/hot/
/public/storage/
npm-debug.log
yarn-error.log

# Homestead y autenticación
Homestead.json
Homestead.yaml
auth.json

# IDEs y herramientas locales
/.idea/
/.vscode/
/.fleet/
